@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  @apply bg-white dark:bg-slate-800;
}
.project-grid {
  @apply flex flex-col
          transition duration-300 transform 
          hover:scale-105
          hover:shadow-lg
          hover:rounded-xl
          dark:border-gray-200/50
          dark:hover:shadow-gray-400/10;
}
.layout {
  @apply flex flex-col w-full max-w-full mx-auto min-h-screen min-w-14;
}

.body-class {
  @apply flex-grow flex flex-col items-center justify-center;
}

.a-class {
  @apply text-indigo-500 items-center hover:underline underline-offset-1;
}
